
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>商品品牌修改</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">首页</a></li>
                    <li class="breadcrumb-item active">商品品牌修改</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal" id="form">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="Name" class="col-sm-2 col-form-label">品牌名称:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="请输入品牌名称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LogoInitials" class="col-sm-2 col-form-label">品牌首字母:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="LogoInitials" name="LogoInitials" placeholder="请输入品牌首字母">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BrandLogo" class="col-sm-2 col-form-label">品牌LOGO:</label>
                            <div class="col-sm-10">
                                <input type="file" name="BrandLogo" id="BrandLogo" width="100" height="100">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BrandImg" class="col-sm-2 col-form-label">品牌专区大图:</label>
                            <div class="col-sm-10">
                                <input type="file" name="BrandImg" id="BrandImg" width="100" height="100">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BrandStory" class="col-sm-2 col-form-label">品牌故事:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="BrandStory" name="BrandStory" placeholder="请输入品牌故事">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="OrderNum" class="col-sm-2 col-form-label">排序号:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="OrderNum" name="OrderNum" placeholder="请输入排序号">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Display" class="col-sm-2 col-form-label">是否显示:</label>
                            <div class="form-group clearfix row">
                                <div class="icheck-primary   col-sm-6">
                                    <input type="radio" id="r1" name="Display" checked="" value="1">
                                    <label for="r1">
                                        是
                                    </label>
                                </div>
                                <div class="icheck-primary  col-sm-6">
                                    <input type="radio" id="r2" name="Display" checked="" value="0">
                                    <label for="r2" style="font-weight:normal">
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <a href="/ProductBrand/List" class="btn btn-default float-right">返回</a>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
@section js{
    <script>
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        var BrandLogo = [], BrandImg = [], imgUploadUrl = "http://localhost:50069/Img/Upload"

        function init() {
            var id = $.getUrlParam("id")
            $.ajax({
                url: "/ProductBrand/Getone",
                type: "GET",//查询用get  其它用post
                cache: false,//禁用缓存
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    $("#Name").val(data.productBrand.BrandName)
                    $("#LogoInitials").val(data.productBrand.BrandInitials)
                    //var _BrandLogo = eval("("+ data.Brand.BrandLogo +")")
                    var BrandLogoTag = ["<img src='" + data.productBrand.BrandLogo + "' style='width:200px' class='file-preview-image' >"]
                    BrandLogo.push(data.productBrand.BrandLogo)//修改不修改图片的时候吧之前的添加到里面防止为空
                    $('#BrandLogo').fileinput({
                        language: 'zh',//设置语言
                        allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        showUpload: true,//是否显示上传按钮
                        browseclass: "btn btn-primary",//按钮样式
                        dropZoneEnabled: false,//是否多图片上传
                        uploadUrl: imgUploadUrl,
                        uploadAsync: true,//默认异步上传
                        uploadExtraData: { imgType: 'ProductBrandLogo' },//图片上传额外的参数
                        initialPreview: BrandLogoTag //回显图片
                    });
                    //var _BrandImg = eval("("+ data.Brand.BrandImg +")")
                    var BrandImgTag = ["<img src='" + data.productBrand.BrandImg + "' style='width:200px' class='file-preview-image' >"]
                    BrandImg.push(data.productBrand.BrandImg)//修改不修改图片的时候吧之前的添加到里面防止为空
                    $('#BrandImg').fileinput({
                        language: 'zh',//设置语言
                        allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        showUpload: true,//是否显示上传按钮
                        browseclass: "btn btn-primary",//按钮样式
                        dropZoneEnabled: false,//是否多图片上传
                        uploadUrl: imgUploadUrl,
                        uploadAsync: true,//默认异步上传
                        uploadExtraData: { imgType: 'ProductBrandImg' },//图片上传额外的参数
                        initialPreview: BrandImgTag //回显图片
                    });
                    $("#BrandStory").val(data.productBrand.BrandStory)
                    $("#OrderNum").val(data.productBrand.OrderNum)
                    $("input[name='Display'][value=" + data.productBrand.IsDisplay + "]").prop("checked", true);
                }
            })
        }

        //添加数据验证
        $('#form').validate({
            rules: {
                Name: {
                    required: true
                },
                LogoInitials: {
                    required: true
                },
                BrandStory: {
                    required: true
                },
                OrderNum: {
                    required: true,
                    digits: true,

                }
            },
            messages: {
                Name: {
                    required: "品牌名称必须填写"
                },
                LogoInitials: {
                    required: "品牌首字母必须填写"
                },
                BrandStory: {
                    required: "品牌故事必须填写"
                },
                OrderNum: {
                    required: "排序号必须填写",
                    digits: "排序号必须是整数",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.col-sm-10').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            },

            //验证成功的函数
            submitHandler: function (form) {
                var id = $.getUrlParam("id")
                var formData = new FormData();
                formData.append("ID", id)
                formData.append("BrandName", $("#Name").val())
                formData.append("BrandInitials", $("#LogoInitials").val())
                formData.append("BrandLogo", BrandLogo)
                formData.append("BrandImg", BrandImg)
                formData.append("BrandStory", $("#BrandStory").val())
                formData.append("OrderNum", $("#OrderNum").val())
                //获取radio选中项的值
                formData.append("IsDisplay", $("input[name='Display']:checked").val())
                //var Display = $("input[name='Display']:checked").val();
                //console.log($("#Name").val())
                //console.log($("#LogoInitials").val())
                //console.log(BrandLogo)
                //console.log(BrandImg)
                //console.log($("#BrandStory").val())
                //console.log($("#OrderNum").val())
                //console.log($("input[name='Display']:checked").val())
                //console.log(id)
                //alert("1")
                //发起ajax请求
                //alert("1")
                $.ajax({
                    url: "/ProductBrand/Update",
                    type: "POST",
                    dataType: "json",
                    data: formData,
                    contentType: false,//不用任何编码,因为formData对象自带编码
                    processData: false,//告诉浏览器不要处理该数据
                    success: function (data) {//result参数代表服务端返回的数据
                        if (data.state == true) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: data.msg,
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: data.msg
                            })
                        }
                        //if (result.State) {
                        //    toastr.success('修改成功.')
                        //} else {
                        //    toastr.error(result.msg)
                        //}
                    },
                    error: function (result) {//result参数代表服务端返回的数据
                        //toastr.error('修改失败.')
                        Swal.fire({
                            icon: 'error',
                            title: data.msg
                        })
                    },
                })
            }
        });

        $(function () {
            $('.select2').select2()
            init()

            //图片上传成功的回调函数
            $("#BrandLogo").on('fileuploaded', function (event, data, previewId, index) {//异步上传成功结果处理
                BrandLogo.push(data.response[0]);
            })

            //图片修改删除之前的图片
            $("#BrandLogo").on('change', function (event) {
                BrandLogo = []
            })

            //图片上传成功的回调函数
            $("#BrandImg").on('fileuploaded', function (event, data, previewId, index) {//异步上传成功结果处理
                BrandImg.push(data.response[0]);
            })

            //图片修改删除之前的图片
            $("#BrandImg").on('change', function (event) {
                BrandImg = []
            })
        })


    </script>
}







